<ion-header>
  <ion-navbar> <ion-title> Sophia </ion-title> </ion-navbar>
</ion-header>

<ion-content class="gradiente-bg">
  <div class="perfil">
    <div class="pontos">
      <div class="estrelas" *ngIf="elo">
        <div color="light" *ngFor="let estrela of estrelas" [class]="'estrela' + estrela">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </div>
      </div>
      <div class="avatar" color="primary">
        <div *ngIf="p">
          {{ p.admin ? p.pontos_admin : elo.nome }}
        </div>
      </div>
    </div>

    <div *ngIf="p" class="info">
      <h1 class="title">{{ p.nome }} {{ p.sobrenome }}</h1>
      <h5 class="subtitle">{{ p.escola }}</h5>
    </div>

    <div *ngIf="p" class="ranking">
      <button
        *ngIf="!p.admin"
        (click)="jogar()"
        style="font-size: 2em"
        ion-button
      >
        Jogar
      </button>
      <button
        *ngIf="p.admin"
        (click)="criar()"
        style="font-size: 1.5em"
        ion-button
      >
        Nova Questão
      </button>
      <br>
      <button  (click)="niveis()" style="font-size: 1.5em" color="dark" ion-button >Níveis</button>

    </div>
  </div>
</ion-content>
